.footer {
    font-family: $secondary-font;

    &__container {
        @include flex-column(60px);
        margin-bottom: 90px;

        @include md {
            margin-bottom: 60px;
        }

        @include sm {
            margin-bottom: 40px;
        }
    }

    &__table {
        th {
            padding-bottom: 30px;
            font-size: $sm-text;
            line-height: $md-lh;
            text-align: start;

            @include md {
                padding-bottom: 20px;
                font-size: $xs-text;
                line-height: $xs-lh;
            }
        }

        td {
            padding-bottom: 20px;
            font-size: $xs-text;
            line-height: 12px;
            text-align: start;

            @include md {
                padding-bottom: 15px;
            }
        }

        a {
            position: relative;
            @include link-hover;
        }
    }

    &__social {
        display: flex;
        gap: 10px;

        & > img {
            width: 12px
        }
    }
}

.updates-form {
    align-self: center;
    @include flex-column(40px);
    align-items: center;
    max-width: 400px;
    font-family: $secondary-font;

    &__label {
        @include flex-column(6px);
    }

    &__title {
        font-size: $sm-text;
        font-weight: weight('regular');
        line-height: $md-lh;
        letter-spacing: 0.04em;
        text-align: center;
    }

    &__subtitle {
        font-size: $xs-text;
        line-height: $xs-lh;
        letter-spacing: 0.04em;
        text-align: center;
    }

    &__group {
        display: flex;
        gap: 10px;
        width: 100%;
        border-bottom: 1px solid $accept-grey;

        &--incorrect {
            position: relative;
            border-bottom: 1px solid $sale-color;

            &::after {
                content: 'Your email is not valid...';
                position: absolute;
                bottom: -20px;
                font-size: $xs-text;
                color: $sale-color;
                font-weight: weight('light');
            }
        }
    }

    &__input {
        flex-grow: 1;
        font-size: $sm-text;
        line-height: $md-lh;
        &::-webkit-input-placeholder {
            font-size: $sm-text;
            line-height: $md-lh;
            color: $grey;
        }
    }

    &__btn {
        font-size: $sm-text;
        line-height: $md-lh;
    }

    &__message {
        font-size: $sm-text;
        font-weight: weight('medium');
        line-height: $md-lh;
        text-align: center;
    }
}

.footer-mobile {
    &__container {
        @include flex-column(26px);
        width: 100%;
        font-family: $secondary-font;

        & > div {
            padding: 23px 14px 0 14px;
            border-top: 1px dashed $accept-grey;
        }
    }

    &__list {
        @include flex-column(15px);
        padding-left: 18px;
        font-size: $xs-text;
        line-height: 12px;
        list-style-type: none;
    }

    &__social-link {
        display: flex;
        align-items: center;
        gap: 10px;

        & > img {
            width: 12px;
            height: 12px;
        }
    }
}