.header {
    width: 100%;
    background-color: $primary-color;

    &--home {
        position: absolute;
        color: $primary-color;
        background-color: inherit;

        .actionsbar__icon, .navbar__menu, .mobile-menu__burger {
            filter: invert(91%) sepia(75%) saturate(0%) hue-rotate(5deg) brightness(106%) contrast(101%);
        }
    }

    &__container {
        display: flex;
        align-items: center;
        max-width: 1320px;
        margin: 0 auto;
        padding: 10px;
    }

    &__title {
        flex-grow: 1;
        font-size: 35px;
        line-height: 35px;
        font-weight: weight('bold');
        text-align: center;
        cursor: pointer;

        @include lg {
            font-size: $xl-text;
            line-height: $xl-lh;
        }

        @include md {
            font-size: $lg-text;
            line-height: $lg-lh;
        }
        
        @include sm {
            font-size: $md-text;
            line-height: $md-lh;
        }
    }
}

.navbar {
    display: flex;
    gap: 40px;

    @include lg {
        gap: 20px;
    }
    
    @include md {
        position: fixed;
        z-index: 500;
        inset: 0 30% 0 0;
        flex-direction: column;
        justify-content: start;
        padding: 60px 0 0 10px;
        margin: 0;
        background: $primary-color;
        transform: translateX(-100%);
        transition: transform 500ms ease-in-out;
    }

    &--active {
        transform: translateX(0);
    }

    &__item {
        position: relative;
        font-size: $xs-text;
        line-height: 10px;
        cursor: pointer;
        @include link-hover;

        @include md {
            width: max-content;
            font-size: $sm-text;
            line-height: $md-lh;
            color: $text-color;
        }
    }
}

.mobile-menu {
    z-index: 2000;
    display: none;
    width: 100px;

    &--active {
        position: fixed;
    }
    
    &__burger, &__close {
        height: 16px;
    }

    @include md {
        display: block;
    }
}

.actionsbar {
    display: flex;
    gap: 40px;

    @include lg {
        gap: 20px;
    }

    @include md {
        width: 100px;
        justify-content: end;
    }

    &__search {
        display: flex;
        gap: 5px;
    }

    &__title {
        font-size: $xs-text;
        line-height: 12px;
        cursor: pointer;

        @include md {
            display: none;
        }
    }

    &__bag {
        display: flex;
        align-items: center;
        gap: 2px;

        &-amount {
            font-size: $xs-text;
            line-height: 12px;
            cursor: pointer;
        }
    }

    &__icon {
        width: 12px;
        cursor: pointer;

        @include md {
            height: 16px;
            width: auto;
        }

        &--bag {
            display: none;

            @include md {
                display: block;
            }
        }
    }

    &__auth {
        @include md {
            display: none;
        }
    }
}