.top-section {
    width: 100%;
    height: 100vh;
    margin-bottom: 90px;
    background: url('@/assets//backgrounds/homepage-background.jpg') no-repeat center;
    background-position: top 100px;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 1150px;
        height: 100%;
        padding-bottom: 100px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 38px;
        line-height: 38px;
        font-weight: weight('bold');
        color: $primary-color;
    }

    &__subtitle {
        max-width: 550px;
        margin-bottom: 30px;
        font-size: $sm-text;
        line-height: $md-lh;
        font-weight: weight('regular');
        color: $primary-color;
    }
}

.sale-section {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px;
    }

    &__title {
        margin-bottom: 83px;
        font-family: 'Roboto';
        font-size: $xl-text;
        line-height: $xl-lh;
        font-weight: weight('regular');

        &--bold {
            font-weight: weight('medium');
        }
    }
}

.product-card {
    transition: all 300ms ease-in-out;

    &:hover {
        .product-card__image-block {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .product-card__cover {
            bottom: 0;
            right: 0;
            background: rgba(0, 15, 8, 0.6);
        }

        .add-to-bag-button {
            display: block;
        }
    }

    &__box {
        @include flex-column(12px);
        width: 300px;
    }

    &__image-block {
        position: relative;
        height: 400px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__like {
        position: absolute;
        z-index: 10;
        top: 12px;
        right: 12px;
        height: 28px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__price {
        font-size: $md-text;
        line-height: $xxl-lh;
        font-weight: weight('bold');
    }

    &__cover {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        transition: all 300ms ease-in-out;
    }
}