.product {
    &__container {
        display: flex;
        gap: 60px;
        width: 100%;
        margin-bottom: 90px;
    }

    &__gallery {
        display: flex;
        flex-basis: 75%;
        width: 75%;
    }

    &__image {
        width: 50%;
    }

    &__bar {
        @include flex-column(40px);
        max-width: 240px;
        padding-top: 40px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: $sm-text;
        line-height: $md-lh;
        font-weight: weight('regular');
        letter-spacing: 0.04em;
    }

    &__attributes {
        @include flex-column(30px);
    }

    &__conditions {
        @include flex-column(10px);
    }

    &__price {
        font-size: $xs-text;
        line-height: 12px;
        font-weight: weight('regular');
    }

    &__pre-order {
        font-size: $xs-text;
        line-height: 12px;
        font-weight: weight('light');
        color: $accept-grey;
    }

    &__color {
        @include flex-column(10px);

        &-title {
            font-size: $xs-text;
            line-height: 12px;
            font-weight: weight('regular');
            color: $grey;
        }

        &-box {
            width: 34px;
            height: 34px;
            border: 1px solid $primary-color;
            outline: 1px solid $text-color;
        }
    }

    &__sizes {
        @include flex-column(20px);

        &-title {
            font-size: $xs-text;
            line-height: 12px;
            font-weight: weight('regular');
            color: $grey;
        }

        &-box {
            display: flex;
            gap: 10px;
        }
    }

    &__text {
        padding-left: 28px;
        font-size: $xs-text;
        line-height: $xs-lh;
        font-weight: weight('light');
        color: $grey;
    }
}