// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

// Template for display flex column with gap
@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin link-hover {
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    display: block;
    width: 0;
    height: 1px;
    background-color: $text-color;
    transition: width 0.5s;
  }

  &:hover:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $text-color;
  }
}

@mixin grey-bottom-line {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $accept-grey;
  }
}
