// Colors
$primary-color: #ffffff;
$link-color: #000000;
$text-color: #000f08;
$sale-color: #d7302d;
$grey: #8c8c8c;
$accept-grey: #d8d8d8;
$purple: #ede7f0;

// Typography
$primary-font: "Helvetica Neue LT Std";
$secondary-font: "Roboto";
// Font weights
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
// Font sizes
$xxl-text: 34px;
$xl-text: 28px;
$lg-text: 24px;
$md-text: 20px;
$sm-text: 16px;
$xs-text: 12px;
// Line heights
$xxl-lh: 40px;
$xl-lh: 34px;
$lg-lh: 30px;
$md-lh: 24px;
$sm-lh: 20px;
$xs-lh: 16px;

// Others
$border: 1px solid $link-color;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1240px;
