.primary-button {
  width: 240px;
  height: 50px;
  padding: 10px;
  font-family: $secondary-font;
  font-size: $sm-text;
  line-height: $xs-lh;
  text-align: center;
  color: $primary-color;
  border: 1px solid $primary-color;

  &:active {
    color: $text-color;
    background-color: $primary-color;
  }

  &--black {
    font-size: $md-text;
    color: $text-color;
    border: 1px solid $text-color;

    &:active {
      color: $primary-color;
      background-color: $text-color;
    }
  }

  &--dark {
    font-family: $primary-font;
    border: 1px solid $text-color;
    background-color: $text-color;

    &:active {
      color: $text-color;
      background-color: $primary-color;
    }
  }
}

.add-to-bag-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 171px;
  height: 41px;
  padding: 5.5px 15px;
  font-size: $sm-text;
  line-height: $lg-lh;
  color: $text-color;
  text-align: center;
  background-color: $primary-color;
  border-radius: 24px;
  transition: all 300ms ease-in-out;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.9);
  }

  @include md {
    width: 120px;
    height: 29px;
    padding: 3px 15px;
    font-size: $xs-text;
    line-height: $md-lh;
  }
}

.size-button {
  width: max-content;
  padding: 0 2px 5px 2px;
  border-bottom: 1px solid $primary-color;

  &--active {
    border-bottom: 1px solid $text-color;
  }

  &__title {
    font-size: $xs-text;
    line-height: 12px;
    font-weight: weight("regular");
    text-align: center;
  }
}

.product-button {
  display: flex;
  gap: 1px;
  height: 50px;

  @include lg {
    height: 45px;
  }

  @include sm {
    height: 40px;
  }

  &__bag-btn {
    width: 190px;
    font-size: $sm-text;
    line-height: $xs-lh;
    color: $primary-color;
    text-align: center;
    background-color: $text-color;
    transition: all 150ms ease-in-out;

    &:active {
      color: $text-color;
      background-color: $primary-color;
    }
  }

  &__wishlist-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    background-color: $text-color;

    & > img {
      height: 16px;
    }
  }
}
