@mixin link-hover {
    &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -3px;
        display: block;
        width: 0;
        height: 1px;
        background-color: $text-color;
        transition: width 0.5s;
    }
    
    &:hover:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $text-color;
    }
}