// Vue Transition
.v-enter-active,
.v-leave-active {
  transition: opacity 500ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

// Vue TransitionGroup
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(200px);
}

// Checkbox styles
.checkbox-container {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 16px;
  border: 1px solid $link-color;
  cursor: pointer;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      background-color: $link-color;

      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: -0.1px;
    height: 14.2px;
    width: 14.3px;
    background-color: $primary-color;

    &:after {
      content: "";
      position: absolute;
      left: 1.2px;
      top: 3px;
      display: none;
      width: 12px;
      height: 9px;
      background: url("@/assets/icons/checkbox-icon.svg") no-repeat center;
      background-size: contain;
    }
  }

  &:hover input ~ .checkmark {
    background-color: $grey-light;
  }

  &:hover input:checked ~ .checkmark {
    background-color: $link-color;
  }
}
