.category-section {
  &__container {
    @include flex-column(0px);
    align-items: center;
    margin-bottom: 83px;

    @include md {
      margin-bottom: 60px;
    }

    @include sm {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 83px;
    font-size: $xxl-text;
    line-height: $xxl-lh;
    font-weight: weight("medium");

    @include md {
      margin-bottom: 60px;
      font-size: $lg-text;
      line-height: $lg-lh;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 6px;
    row-gap: 45px;

    @include xl {
      grid-template-columns: repeat(3, auto);
      column-gap: 12px;
    }

    @include sm {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
    }
  }

  &__subtitle {
    font-size: $xxl-text;
    line-height: $xxl-lh;
    font-weight: weight("regular");
  }

  & button {
    margin-top: 56px;
  }
}
