.actionsbar {
  display: flex;
  gap: 40px;

  @include lg {
    gap: 20px;
  }

  @include md {
    width: 100px;
    justify-content: end;
  }

  @include sm {
    gap: 10px;
  }

  &__search {
    display: flex;
    gap: 5px;
  }

  &__title {
    font-size: $xs-text;
    line-height: 12px;
    cursor: pointer;

    @include md {
      display: none;
    }
  }

  &__bag {
    display: flex;
    align-items: center;
    gap: 2px;

    &-amount {
      width: 30px;
      font-size: $xs-text;
      line-height: 12px;
      cursor: pointer;
      visibility: hidden;

      &--active {
        visibility: visible;
      }
    }
  }

  &__icon {
    width: 12px;
    cursor: pointer;

    @include md {
      height: 16px;
      width: auto;
    }

    &--bag {
      display: none;

      @include md {
        display: block;
      }
    }
  }

  &__auth {
    @include md {
      display: none;
    }
  }
}
