.search {
  background-color: $grey-light;
  overflow: hidden;

  &__container {
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 500;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color: $grey-light;
    border: 0.5px solid $accept-dark;
    transition: all 500ms ease-in-out;

    &--active {
      top: 0;
    }
  }

  &__form {
    position: relative;
    display: flex;
    width: 70%;
    margin-top: 180px;
    margin-right: 60px;
    border-bottom: 3px solid $primary-color;
  }

  &__btn-close {
    position: absolute;
    bottom: -3px;
    left: -130px;
    width: 44px;
    height: 44px;
    background: url("@/assets/icons/close-icon.svg") no-repeat center;
    cursor: pointer;

    &:active {
      scale: 1.1;
    }
  }

  &__input {
    width: 100%;
    padding-bottom: 8px;
    font-family: $secondary-font;
    font-size: $xxl-text;
    line-height: 10px;
    font-weight: weight("regular");
    color: $primary-color;

    &::-webkit-input-placeholder {
      color: $primary-color;
    }
  }

  &__btn-search {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background: url("@/assets/icons/search-icon.svg") no-repeat center;
    background-size: 40px 40px;
    cursor: pointer;
    visibility: hidden;
    filter: invert(91%) sepia(75%) saturate(0%) hue-rotate(5deg)
      brightness(106%) contrast(101%);

    &:active {
      scale: 1.1;
    }

    &--active {
      visibility: inherit;
    }
  }
}
